.padding {
  padding: 25px;
}
.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  width: 60px;
  box-shadow: 5px 3px 3px #829dbc79;
  border-radius: 14px;
}
.border {
  background-repeat: inherit;

  background-image: url(https://images.unsplash.com/photo-1523793740499-83d43b75a2b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);

  width: 720px;
  padding: 50px;
  border-radius: 4px;
  border-width: 8px;
  border-color: #829dbc;

  box-shadow: 10px 5px 5px grey;
}
.text {
  border-color: #ececec;
}
form {
  display: block;
  margin: 0 auto;
  justify-content: center;
  width: 400px;

  border-radius: 8px;
  font-size: 18px;
}
input {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
::placeholder {
  color: white;
}
.weather-forecast {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px 2px #829dbc8a;
}
p {
  text-align: center;
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 2px #829dbc;
}
h1,
h3,
h4,
h2,
h5 {
  font-family: "Poppins", sans-serif;
  color: white;
  text-shadow: 1px 1px 2px grey;
}
